
  body{
      background-color: white;
  }
  
#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  

  footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: lightgrey;
      color: white;
      text-align: center;
  }

  h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid white;
  }

  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  /* Contact */
  #form-group {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
  }
 
  